{% extends 'app/base.html' %}
{% load static %}

{% block titulo %} Lista de productos {% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <a
            name=""
            id=""
            class="btn btn-success"
            href="{% url 'crear_producto' %}"
            role="button"
            >Agregar productos</a
        >
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Productos</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>

                <tbody id="tabla-productos">

                </tbody>
            </table>
        </div>
    </div>
</div>

<meta name="csrf-token" content="{{ csrf_token }}">

{% endblock %}
{% block extra_js %}
<script src="{% static 'app/js/api.js' %}"> </script>
{% endblock %}