{% extends 'app/base.html' %}
{% load static %}

{% block titulo %} Lista de productos {% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <a
            name=""
            id=""
            class="btn btn-success"
            href="{% url 'crear_producto' %}"
            role="button"
            >Agregar productos</a
        >
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Productos</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">1</td>
                        <td>Marillo</td>
                        <td>django</td>
                        <td>imagen.jpf</td>
                        <td> <a
                            name=""
                            id=""
                            class="btn btn-info"
                            href="{% url 'editar_producto' %}"
                            role="button"
                            >Editar
                            </a>
                        | <a
                            name=""
                            id=""
                            class="btn btn-danger"
                            href="#"
                            role="button"
                            >Borrar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>


{% endblock %}