<form id="register-form">
    <input type="text" id="username" placeholder="Nombre de usuario" required>
    <input type="email" id="email" placeholder="Correo" required>
    <input type="password" id="password" placeholder="Contraseña" required>
    <input type="text" id="first_name" placeholder="Nombre" required>
    <input type="text" id="last_name" placeholder="Apellido" required>
    <input type="text" id="direccion" placeholder="Dirección" required>
    <input type="text" id="numero_telefono" placeholder="Número de teléfono" required>
    
    <button type="submit">Registrarse</button>
</form>
