{% extends 'app/base.html' %}
{% load static %}

{% block titulo %} Home {% endblock %}

{% block content %}

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active position-relative">
            <img src="{% static 'app/img/herramientas.png' %}" class="d-block w-100" alt="Ferremas">
        </div>

        <div class="carousel-item position-relative">
            <img src="{% static 'app/img/herramientas2.png' %}" class="d-block w-100" alt="Cobertura Nacional">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="fondo-degradado">
    <div class="container">
        <h1>Bienvenido a Ferremas</h1>

        <!-- Productos -->
        <h2>Productos</h2>
        <div id="productos-container" class="d-flex flex-wrap gap-3"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'app/js/home.js' %}"></script>
{% endblock %}